.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes entrySlide {
  from {background-color: #0f2be7;
    transform: translateX(100%) rotate(45deg) rotate3d(75,85,95,35deg);
  }
  to {background-color: salmon;
    transform: translateX(0px) rotate(-720deg) rotate3d(0,0,0,0deg);
  }
}

.name {
  margin: 5px 5px;
  padding: 15px;
  text-align: center;
  background: #c5cae7;
  border: 1px solid #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(124, 99, 99, 0.4);
}

.entry {
  margin: 5px 5px;
  padding: 25px;
  -moz-box-shadow: inset 0 0 15px 5px #DDD;
  -webkit-box-shadow: inset 0 0 15px 5px #DDDDE5;
  box-shadow: inset 0 0 15px 5px #DDD;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  animation-name: entrySlide;
  animation-duration: 2s;
}




